<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/logout.css">
    <title>LOGOUT PAGE</title>
</head>
<body>
    <section class="logos">
        <div class="logo">
            <img src="../../public/img/logo.svg" alt="Golden Oaks">
        </div>
        <div class="logo_subtext">
            <img src="../../public/img/logo_2.svg" alt="Decentralized Book Exchange">
        </div>
    </section>
    <section class="logout_popup">
        <div class="popup">
            <p id="paragraph1">
               Logout successful!
            </p>
            <p id="paragraph2">
                See you soon, {user_name}!
            </p>
        </div>
        <a class="login_button" href="#">
            LOG IN
        </a>
    </section>
</body>